[2022-06-19 17:03] moaojarco opened #1 "Installed but not found"
I installed dooit but when i use the command "doit/dooit" appears "**command not found: doit**"

[2022-06-19 17:10] taladan opened #2 "Python versioning issue"
Doit will not install with given instructions on python 3.8:

`Collecting git+https://github.com/kraanzu/dooit.git
  Cloning https://github.com/kraanzu/dooit.git to /tmp/pip-req-build-uoxtcydw
  Running command git clone -q https://github.com/kraanzu/dooit.git /tmp/pip-req-build-uoxtcydw
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel met

[2022-06-19 17:13] NiggoP commented on #2
You need Python 3.10 or greater

[2022-06-19 17:25] kraanzu commented on #1
Hey there! Sorry for the inconvenience. I thought to change the name as it was very common.
You should first uninstall doit using `pip uninstall doit` and then try to re-install.. It should work just fine  then...Lemme know if you need any other help

[2022-06-19 17:27] kraanzu commented on #2
At this point all major distributions have upgraded to `python3.10` so I didn't focused to make it compatible with `python3.8`.
I am closing this issue for now

[2022-06-19 17:27] #2 closed

[2022-06-19 18:04] moaojarco commented on #1
It was missing to export the PATH on linux and now it's working. Thanks!

[2022-06-19 22:34] DevFlock opened #4 "Config file empty"
Using python3.10, windows

.config/dooit/config.yaml file is empty. Tried to use the example_config.yaml but it errors saying `UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 145: character maps to <undefined>`

[2022-06-19 22:54] Basile-LAMOTTE opened #5 "Error on python version"
Running `python3 -m pip install git+https://github.com/kraanzu/dooit.git`
throw: `ERROR: Package 'dooit-0.1.0' requires a different Python: 3.8.10 not in '>=3.10,<4.0'`.
I tried again with other versions of python, but nothing worked. Am I missing something ?

[2022-06-19 23:01] alichtman opened #6 "Release on pypi?"
Would be awesome to `$ pip install dooit`.

[2022-06-19 23:17] DevFlock commented on #5
You need to use python 3.10 or later

[2022-06-19 23:22] moaojarco opened #7 "Not save changes on exit"
I have a problem that doesn't save changes when i remove/edit a todo. I go out and when i come back it's like before
Maybe add a save key to force changes or add a "Save changes?" when pressing "q" to exit (Our friend made a pull request with this exit feature).

[2022-06-19 23:24] Basile-LAMOTTE commented on #5
thank you

[2022-06-19 23:31] alichtman commented on #5
Due to use of the `match` feature, which is introduced in Python 3.10, this is a real requirement.

https://docs.python.org/3/whatsnew/3.10.html#pep-634-structural-pattern-matching

[2022-06-19 23:47] moaojarco commented on #7
EDIT: I just realized that it just doesn't save when i killing the terminal. But if I use Ctrl + C to exit the application **saved normally**, sorry for issue.

[2022-06-19 23:47] #7 closed

[2022-06-19 23:47] #1 closed

[2022-06-20 00:12] Dale-Muccignat opened #8 "Feature request: Add a menu item to display all tasks"
Love the work you've done on this!

I'd be keen to have an overview menu item to look at all tasks at once, perhaps ordered by due date first. I'm keen to help program this up but I might need a little guidance on how the menu node works.

[2022-06-20 00:55] kraanzu commented on #6
Done!
Here : https://pypi.org/project/dooit/

[2022-06-20 00:55] #6 closed

[2022-06-20 01:02] XPhyro opened #10 "[Feature Request] Support custom key bindings"
I don't like some of the bindings, and would like to edit them. Adding the ability to edit key bindings is probably the only way everybody would be satisfied with the bindings.

[2022-06-20 01:22] kraanzu commented on #10
Yes i know that but you see....some keys are handled differently by textual such as...
Ah, no time for lame excuses... Will do that!

[2022-06-20 01:26] kraanzu commented on #8
Yeah I was thinking about it too...

That's not something to worry about as you can always sort by your choice!

Sure anytime! I might have to do some cleaning in order to make code a little less messy.. I'll update you after that and then you can start working?

[2022-06-20 01:27] Dale-Muccignat commented on #8
Sounds great!

[2022-06-20 01:29] kraanzu commented on #4
Yeah had the same issue on my other project as well... Windows doesn't seem to handle this fonts well. Maybe try after installing a  [nerd font](https://www.nerdfonts.com/) ?

[2022-06-20 01:54] kraanzu commented on #5
Looks like this has been resolved so I'll be closing this :)

[2022-06-20 01:54] #5 closed

[2022-06-20 02:06] ChristianChiarulli opened #12 "Move todos.pkl and topics.pkl to $XDG_DATA_HOME"
I think `$XDG_DATA_HOME` is a more appropriate place to put user data than the `$XDG_CONFIG_HOME`.

[2022-06-20 02:28] kraanzu commented on #12
Yeah i was thinking of moving that to somewhere appropriate. An alternative when `$XDG_DATA_HOME` is not set?

[2022-06-20 02:41] alichtman commented on #6
Probably worth updating the README too :)

[2022-06-20 02:42] alichtman commented on #12
Use the default XDG spec: `$HOME/.local/share`

[2022-06-20 02:43] kraanzu commented on #6
Yeah I will look into it later today. Currently i am trying to resolve all the issues first :)

[2022-06-20 02:43] kraanzu commented on #12
I see....thanks!
Will push an update soon!

[2022-06-20 02:58] ChristianChiarulli commented on #12
[XDG directory specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html)

[code]

[2022-06-20 03:05] empik002 opened #13 "[BUG] Wrong characters for icons."
On Linux Pop_os! 21.10 in Kitty terminal emulator (and Gnome terminal as well) the icons next to Menu and Todos are different than those in the demo video (chinese, russian characters and such)

It is entirely possible that my configuration is the issue. If that is the case could I get some pointers on how to fix the issue myself?

**Screenshots** 🧐
If applicable, add screenshots to help explain y

[2022-06-20 03:17] kraanzu commented on #13
Hey there! By default I am using [Nerd Fonts](https://www.nerdfonts.com/) as most people use that.
You can either use a nerd font or change icons in your `~/.config/dooit/config.yaml` file

[2022-06-20 03:19] empik002 commented on #13
Great, thanks. Might want to state that in the readme. to avoid more issues like this. (both how to change them and the Nerd Fonts)

[2022-06-20 03:19] #13 closed

[2022-06-20 03:20] kraanzu commented on #12
Off topic: Sorry I didn't recognized you earlier @ChristianChiarulli ( though your pfp seemed to ring a bell ). Your neovim videos are awesome. It helped me a lot <3

[2022-06-20 06:19] fallowmcolstein opened #15 "[BUG]"
**Describe the bug** 🐛
I just installed it using the one-liner command, and when I try to run it, it says some stuff and then ModuleNotFoundError: No module named 'yaml'

**To Reproduce** 🐣
Steps to reproduce the behavior:
run dooit

**Screenshots** 🧐
full output:
![image](https://user-images.githubusercontent.com/82470952/174537278-9828d444-6969-4bb9-86dc-4d1039e88fcd.png)

**Desktop (please comp

[2022-06-20 06:26] kraanzu commented on #15
Well that's strange... I thought `yaml` was included in std lib.
You can install `pyyaml` using `pip install pyyaml`
I'll update the dependecies

[2022-06-20 06:30] #10 closed

[2022-06-20 06:30] kalatabe opened #16 "[BUG] pyyaml dependency not included in distribution"
**Describe the bug** 🐛
The project depends on pyyaml, but it won't install it when following the recommended installation procedure.

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Create a new, clean virtualenv with python 3.10.0
2. Install dooit via `pip`: `python -m pip install git+https://github.com/kraanzu/dooit.git`
3. Launch dooit by typing `dooit`
4. Observe error:
[code]

**Expect

[2022-06-20 06:32] #15 closed

[2022-06-20 06:33] #16 closed

[2022-06-20 09:24] cpkio opened #17 "[BUG] Blank screen on launch (Windows)"
**Describe the bug** 🐛
Blank screen on launch in Windows.

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Install
2. Try to run `dooit`

**Expected behavior**  🤔
I'd like to see some UI.

**Desktop (please complete the following information):**  🤖
 - OS: Windows 10 x64

[2022-06-20 09:28] kraanzu commented on #17
I haven't tried this on windows but a black screen doesn't sound right.
There is no output ? Like no errors? Just black screen?
Also, are you on the new windows terminal?

[2022-06-20 10:00] MassimoCastell commented on #17
Tested it on Windows. There is probably a codepage issue.

`Traceback (most recent call last):
  File "C:\Python\Python310\lib\site-packages\dooit\utils\config.py", line 61, in check_files
    self.keybinds = self.load_keybindings()
  File "C:\Python\Python310\lib\site-packages\dooit\utils\config.py", line 76, in load_keybindings
    keybinds = self.load_config("keybindings")
  File "C:\Python\Pyt

[2022-06-20 10:08] kraanzu commented on #17
@MassimoCastell  This is due the default icon's font.
Try using a [nerd font](https://www.nerdfonts.com/)

[2022-06-20 10:37] cpkio commented on #17
@kraanzu No, I'm using ConEmu for a few years least. This is not terminals fault. Term encoding is UTF8, which works fine for tens of console apps I use.

[2022-06-20 10:56] kraanzu commented on #17
Hey @cpkio, turns out that textual is causing the issue
Here: https://github.com/Textualize/textual/discussions/335?sort=old

Try and see if the solutions provided works? Good Luck!

[2022-06-20 11:44] danjessen opened #18 "[BUG] Defining Poetry as a dependency"
**Describe the bug** 🐛
I was trying to install and it failed with `ModuleNotFoundError: No module named 'poetry'`

[2022-06-20 11:45] Shaun-F opened #19 "[BUG] Fail to open help menu"
**Describe the bug** 🐛
ctrl+p fails to open help menu

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. open dooit
2. press ctrl+p
3. weep

**Expected behavior**  🤔
help menu opens

**Desktop (please complete the following information):**  🤖
           /:-------------:\
        :-------------------::        OS: Fedora 36 ThirtySix
      :-----------/shhOHbmp---:\      Kernel: x86_64 Linux 5.

[2022-06-20 11:47] kraanzu commented on #19
Hey there! The command "ctrl-p" was replaced with "?". See if that works!

[2022-06-20 12:21] kraanzu commented on #19
Also, you can customize keybindings in the config file too :)
Happy todo!

[2022-06-20 12:21] #19 closed

[2022-06-20 12:26] #18 closed

[2022-06-20 12:45] cpkio commented on #17
@kraanzu I dont see any solutions there… `dooit` works in NuShell somehow

[2022-06-20 12:58] vitoindelicato opened #20 "[BUG]Help page does not appear"
**Describe the bug** 🐛
ctrl+p does not open help page

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Install
2. Run
3. Type ctrl+p
4. Nothing happen

**Expected behavior**  🤔
Help page should appear

**Desktop**  🤖
 - OS: PopOs!
 - Version: 22.04

[2022-06-20 13:43] kraanzu commented on #17
Well ...Anything is better than nothing :)
So should we close this now?

[2022-06-20 14:38] annawoodard commented on #20
@kraanzu Consider adding instructions to use `?` on the landing page.  I went GitHub readme -> see there are no instructions -> look at the mp4 and pause it at the help menu -> see I should try `ctrl+p` but it doesn't work -> look at the issues and find this one before I saw to try `?`. Thanks for this tool, I'm just trying it out now; it is awesome so far! This will probably be an "everyday" tool

[2022-06-20 14:44] fallowmcolstein opened #21 "[BUG] None returned while trying to read config.yaml"
some kind of error, it won't start when I run dooit (in powershell & cmd).
error message:
https://pastebin.com/XCAfMkXm

 - OS: Windows
 - Version 11

[2022-06-20 14:50] kraanzu commented on #20
Sorry for the Inconvenience. Yeah I am working on a welcome page that will show the keybinding for help menu!
Lets keep this issue open until that... it shouldn't take long to implement :)

[2022-06-20 14:51] annawoodard commented on #20
🙏🙏🙏

[2022-06-20 14:52] kraanzu commented on #21
Have you, in any way, changed the config file?

[2022-06-20 14:54] fallowmcolstein commented on #21
no. I just ran the install command and installed pyyaml.

[2022-06-20 14:55] TakshPanchal opened #22 "[BUG] dooit command not found"
**Describe the bug** 🐛
I am unable to open app when I write `dooit` command in the terminal
**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Install using this command
`python -m pip install git+https://github.com/kraanzu/dooit.git`
2. use `dooit` command

**Expected behavior**  🤔
App should open when I type the command
**Screenshots** 🧐
![image](https://user-images.githubusercontent.com/526

[2022-06-20 15:24] roundmammouth opened #23 "💡 [FEAT]New features list, list of known bugs, priority list?"
**Is your feature request related to a problem? 😢 Please describe.**
I'm going to start using this code this weekend and wanted to know where a python newbie should start... so I usually start with a todo list. This would automate a chunk of things, where would I find one to read, update or should we create first, but didnt see one other than issues.

**Describe the solution you'd like**   🤔
Well

[2022-06-20 15:27] #20 closed

[2022-06-20 15:28] kraanzu commented on #20
Well.. How's this: ![](https://i.imgur.com/FqSn1wE.png)

[2022-06-20 15:35] kraanzu commented on #22
Doesn't look it installed properly
See this: ![image](https://user-images.githubusercontent.com/97718086/174636432-6cadda35-67d5-4092-aca5-d58d2df2c934.png)

[2022-06-20 15:39] kraanzu commented on #23
Like... you want a automation script that does the work for you?
For e.g. : Let's sat you want to save upcoming hackathons and want to save them automatically to the todo list using a script?

[2022-06-20 16:08] #22 closed, assigned to nobody

[2022-06-20 16:32] kraanzu commented on #21
Del the config folder (`~/.config/dooit`) and try to run the app again

[2022-06-20 16:38] TakshPanchal opened #24 "[BUG] Emojis are not displayed correctly"
**Describe the bug** 🐛
Hey, I love your project and the idea. It will be so much useful for me personally. Thank you to the team.
I found some issues in my terminal can you help me to solve?

**Screenshots** 🧐
![image](https://user-images.githubusercontent.com/52617262/174646271-3b4c28e1-120e-4eff-b059-ab31a26ec281.png)

**Desktop (please complete the following information):**  🤖
- OS: Ubuntu
= Ve

[2022-06-20 16:47] kraanzu commented on #24
Use a [nerd font](https://www.nerdfonts.com/) or change the icons in the config

[2022-06-20 17:24] ipatch opened #25 "[BUG] Poetry Not Found (MacOS)"
**Describe the bug** 🐛

[code]

using the above command the installation failed on my system,

- macos catalina
- using pip3 provided by macos homebrew python 3.10.4

the installation failed because i did not have the `poetry` python package installed.

**To Reproduce** 🐣

easy fix,

[code]

resolved the poetry build dep issue.

**Expected behavior**  🤔

not exactly sure, but would consider the in

[2022-06-20 19:11] DevFlock commented on #4
I have fira code in vscode and also use ibm plex mono which are both listed on the nerd code website. Both show up as errors

[2022-06-21 01:15] Dale-Muccignat opened #26 "[BUG] move_focus_to_menu doesn't work when menu is empty"
**Describe the bug** 🐛
When starting dooit for the first time, when you press select node before creating a node it shifts the focus to the todos list. After that, you can not shift the focus back without closing the application and adding a node first.

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. remove all nodes
2. press "enter" to select node
3. try pressing "h" to shift back to menu

[2022-06-21 02:38] #26 closed

[2022-06-21 02:41] kraanzu commented on #24
Sorry I was on mobile phone last night and didn't see your message properly :(
Sure thing, PRs are always welcome. Anything from a small refactor to a feature, If you want to help in any way feel free to open a PR.
Ping me if you need any help :)

[2022-06-21 02:43] #24 closed

[2022-06-21 02:45] kraanzu commented on #21
As I mentioned, In your home directory..
Just run this:

[code]

[2022-06-21 03:16] #17 closed

[2022-06-21 03:19] kraanzu commented on #4
@DevFlock  I've pushed an update...could you please check if it's working now?

[2022-06-21 06:05] kraanzu commented on #25
I've added poetry to dependencies in this [commit](https://github.com/kraanzu/dooit/commit/4c310ba3fba72d071c53ad1ee3bb8f3be5a42b92)
Was it the only problem or you came across any other errors else while installing?

[2022-06-21 09:33] cocoonkid opened #27 "💡 [FEAT] Ability to create templates in yml or toml"
I'd like to be able to open todo templates easily in the terminal and work through them.
Even better would be to be able to save state to a "<name>-dooit-<datetime> file or be able to configure the filename.

I would use this for web application pen-tests and to quickly share my status or keep the file under version control.

[2022-06-21 09:53] cocoonkid opened #28 "[BUG] Sort by urgency does not work."
**Describe the bug** 🐛

Sort by urgency does not work.  I use ctrl + s to enter sort menu and select by date or by urgency or by name and confirm with Enter but nothing happens.

![Screeshot 2022-06-21 at 11 51 21@2x](https://user-images.githubusercontent.com/43231640/174771613-3f67394d-1473-4b1a-bafd-8a6c6536e4d5.jpg)

Macos Monterey, Iterm, zsh

[2022-06-21 09:55] cocoonkid opened #29 "💡 [FEAT] remove Menu + icon and Todos+Icon."
💡 [FEAT] remove Menu + icon and Todos+Icon.

In my humble opinion it is clear as ice what the left and right side are supposed to be.

So that would free screen estate for the list and topics itself.

[2022-06-21 10:20] kraanzu commented on #27
Yes I am currently working on this and will push an update soon :)

[2022-06-21 10:23] kraanzu commented on #29
Yes ig you may be right... That was just for aesthetics.
I will push an update in which you can set to show them or not in the config file

[2022-06-21 10:59] cocoonkid commented on #27
Very cool. I want to contribute to this project. But I am a noob. Let's dooit :)

Will test as soon as it's released :)

[2022-06-21 11:04] rvan-tgm commented on #21
In your pastebin row 62 it tells you where your config is located ;)
C:\\Users\YourUsernameHere\.config\dooit

[2022-06-21 11:13] cocoonkid commented on #28
makes sense. Thanks for the swift reply.

[2022-06-21 11:13] #28 closed

[2022-06-21 11:16] cocoonkid commented on #25
I can confirm the installation worked without any issues.

[2022-06-21 13:34] Elmiar0642 opened #30 "[BUG] Package not found"
python3 -m pip install --user git+https://github.com/kraanzu/dooit.git
[code]

[2022-06-21 13:57] Elmiar0642 commented on #30
dooit
`bash: dooit: command not found
`
pip3.10 show dooit
[code]

 pip3.10 dooit
`ERROR: unknown command "dooit"`

[2022-06-21 14:09] kraanzu commented on #30
Is `~/.local/bin`  in your path?

[2022-06-21 16:06] annawoodard opened #31 "[BUG] Tasks do not persist between dooit sessions"
**Describe the bug** 🐛
After closing and re-opening the shell dooit is running in, all of my tasks have disappeared.

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Run `dooit`
2. Put in some tasks
3. Close the shell dooit is running in
4. Run `dooit`; old tasks are gone

**Expected behavior**  🤔
I expect tasks to persist between dooit sessions.

**Desktop (please complete the following in

[2022-06-21 16:14] kraanzu commented on #31
Did  you quit  dooit with either `ctrl+c` or `ctrl+q` ?
dooit does not saves task on edit, it only does when quit keybindings are triggered

[2022-06-21 21:11] CharlieC57 opened #32 "[BUG] Exception on launch"
**Describe the bug** 🐛
Failure on launch. Throws multiple exceptions, then exits

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Launch dooit through the terminal

**Expected behavior**  🤔
Run the app

**Screenshots** 🧐
![imagen](https://user-images.githubusercontent.com/23264837/174897526-99e70f0e-8115-4047-9e57-7f4be5dfbff7.png)
![imagen](https://user-images.githubusercontent.com/2326483

[2022-06-22 01:32] kraanzu commented on #32
@orsenthil Sorry for the inconvenience. That is my fault for not checking  for `$XDG_CONFIG_HOME` while making the config. I'll push an update soon :)

[2022-06-22 01:34] kraanzu commented on #32
As for @CharlieC57, I suppose your screenshot does not contain the whole error message. Maybe share that using [pastebin](https://pastebin.com/index.php)?
Though it might be the same reason as @orsenthil's but just in case :)

[2022-06-22 01:38] kraanzu commented on #31
I suppose saving the todo on each edit should be fine but haven't tested that for having a much larger data.
I'll stress test and see if that does not cause too much delay, we can move the saving part to a thread for non-disruptive flow :)

[2022-06-22 02:02] kraanzu commented on #32
I'll push an update soon. Hopefully it solves that

[2022-06-22 02:36] kraanzu commented on #32
Hey there @orsenthil and @CharlieC57 can you please update and check if it's working properly now?

[2022-06-22 03:05] kraanzu commented on #27
Hey @cocoonkid, I've changed the data storage location from `~/.config` to
`$XDG_DATA_HOME` (or `~/.local/share/dooit/todo.yaml`)
I've tried to maintain the format according to [todo.txt](https://github.com/todotxt/todo.txt)
Maybe see for yourself and lemme know your thoughts on it?

[2022-06-22 04:07] CharlieC57 commented on #32
No luck, although looking up the error it may be related to the .pkl file being empty. Is it supposed to be empty at installation?

[2022-06-22 04:10] kraanzu commented on #32
Not empty...just the default implementation of data types... I suggest that you delete the whole dooit folder in config and then re run and see if that works.
Apologies for so much hassle :(

[2022-06-22 04:35] CharlieC57 commented on #32
No worries, did what you suggested and is looking fine :)
You may close this issue at least from my end, hopefully it works for @orsenthil as well.

[2022-06-22 04:38] kraanzu commented on #32
I think that it should, The issue was that Path was not expanding `~` which caused an error :)

[2022-06-22 04:40] #32 closed

[2022-06-22 06:34] myt2000 opened #35 "[BUG]UnicodeEncodeError: 'locale' codec can't encode character '\uf5f4' in position 1: encoding error"
run in window 10

1.git clone https://github.com/kraanzu/dooit.git
2. cd dooit
3. pip3 install .
4. dooit

1. Entering `dooit` for the first time shows a black screen

2. Entering `dooit` for the first time error log
───────────────────── Traceback (most recent call last) ─────────────────────┐
│ F:\python3.10\lib\site-packages\textual\widget.py:202 in _get_lines         │
│

[2022-06-22 07:58] kraanzu commented on #35
Looks like a font issue. Are you using windows terminal?

[2022-06-22 08:01] kraanzu commented on #8
Hey @Dale-Muccignat !
Sorry for the late reply, You can work on it if you want.
If you need any pointers, ping me :)

[2022-06-22 08:47] Dale-Muccignat commented on #8
Awesome! I'll dig around and see what I can come up with.

[2022-06-22 12:06] fallowmcolstein commented on #21
ok I deleted it but it still doesn't work.

[2022-06-22 12:10] kraanzu commented on #21
@fallowmcolstein you have updated right?

[2022-06-22 12:11] fallowmcolstein commented on #21
ehh what do you mean?

[2022-06-22 12:12] fallowmcolstein commented on #21
I deleted the file, if that's what you mean

[2022-06-22 12:15] fallowmcolstein commented on #21
Oh  yeah I tried that. Doesn't work. When I install it it does give this error, that might have something to do with it...

[2022-06-22 12:19] kraanzu commented on #21
Oh i need to bump the version in that repo, But it should still install the updated version right?
Maybe try uninstalling gupshup if it doesn't

[2022-06-22 12:32] fallowmcolstein commented on #21
How do I uninstall that?

[2022-06-22 12:34] kraanzu commented on #21
[code]

[2022-06-22 12:40] fallowmcolstein commented on #21
When I ran pip uninstall gupshup it said it wasn't even installed, so I tried installing it and reinstalling dooit and now it's giving a different error...
https://pastebin.com/vzKvDBYJ

[2022-06-22 12:42] kraanzu commented on #21
Yes I am looking into it right now.. Will update you soon (it has something to do with windows).
Sorry for the inconvenience :(

[2022-06-22 12:53] rafo opened #36 "[BUG]"
First of all: nice to(do)ol!

**Describe the bug** 🐛
Installing dooit via:

    python3 -m pip install git+https://github.com/kraanzu/dooit.git

I get the error:

    ERROR: Package 'dooit' requires a different Python: 3.9.13 not in '<4.0,>=3.10'

**To Reproduce** 🐣
Install with python ≤ 3.10

**Expected behavior**  🤔
1. Put it in the readme if Python ≥ 3.10 is necessary
2. If not, set the minimum

[2022-06-22 12:58] #35 closed

[2022-06-22 12:59] #21 closed

[2022-06-22 13:03] kraanzu commented on #36
It's already mentioned in the README under Installation section: https://github.com/kraanzu/dooit#installation-

[2022-06-22 13:19] AlexisBallo2 commented on #30
I had this same issue too. You need to be running python 3.10 for this program. I modified the readme to include this information.

[2022-06-23 00:06] Saterlite opened #38 "💡 [FEAT] Taskwarrior integration"
Is taskwarrior integration planned?

[2022-06-23 01:34] myt2000 commented on #35
yes , run in windows 10 system

[2022-06-23 02:36] kraanzu commented on #38
Like how exactly? Could you please explain more?

[2022-06-23 02:59] #31 closed

[2022-06-23 04:15] #29 closed

[2022-06-23 04:16] kraanzu commented on #27
I'll be closing this for now :)

[2022-06-23 04:16] #27 closed

[2022-06-23 04:31] superatomic opened #39 "[BUG] Application fails with a `KeyError: 'show_headers'` error"
**Describe the bug** 🐛
When launching `dooit`, the application exits with the following error:
[code]

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Run `python3 -m pip install git+https://github.com/kraanzu/dooit.git` as described in the [README.md](https://github.com/kraanzu/dooit/blob/main/README.md)
2. Run `dooit`

**Expected behavior**  🤔
The app runs without an error.

**Desktop (pl

[2022-06-23 04:41] kraanzu commented on #39
My bad... I need to re-write the config.
I'll push an update rn :(

[2022-06-23 04:45] #39 closed

[2022-06-23 08:27] CptIceberg opened #40 "💡 [FEAT] Add different colour for prorities"
**Is your feature request related to a problem? 😢 Please describe.**
I find the priorities of the tasks to be hardly readable.

**Describe the solution you'd like**   🤔
A different colour for the line, or at least the priority number would be great to see them better.
This could be a setting in the config.yaml file too, so those could be modified (from a list of available colours/colours codes ?

[2022-06-23 09:25] kraanzu commented on #40
something like this?
![](https://i.imgur.com/MM0Hjjc.png)

[2022-06-23 09:39] CptIceberg commented on #40
This looks great !

[2022-06-23 09:43] kraanzu commented on #40
I see, then I'll throw in an option in the config to either use numbers or colors to represent the urgency :)

[2022-06-23 09:49] CptIceberg commented on #40
Thank you very much, that was fast as hell !

[2022-06-23 09:51] kraanzu commented on #40
Well I am excited too. I never thought that dooit will be used by so many people.
Thank you so much :)
I'll push the update after a couple of hours.

[2022-06-23 12:00] marc-marcos opened #41 "[BUG] Tasks don't get deleted when they should."
**Describe the bug** 🐛
When deleting topics they get deleted until you close the app and open it again, then they appear again.

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Create a topic
2. Delete it using x
3. Close app
4. Reopen it

**Expected behavior**  🤔
They should be deleted

**Screenshots** 🧐
If applicable, add screenshots to help explain your problem.

**Desktop (please comple

[2022-06-23 13:12] #41 closed

[2022-06-23 13:45] marc-marcos commented on #41
Work as intended. Kudos.

[2022-06-24 06:13] cocoonkid commented on #27
@kraanzu  well done!  Now I can also try to sync it :-) Will report back!

[2022-06-24 06:15] cocoonkid commented on #38
I'd assume Dooit is more of a separate product. What specifically do you like to have implemented?

My opinion is that Dooit is a lot more lightweight than TW and that's why I like it :)

[2022-06-24 06:51] cocoonkid commented on #31
@kraanzu  I don't think this will interfere with the syncthing sync that I will enable for the data file but I will report back how that works.

[2022-06-24 07:08] #40 closed

[2022-06-24 07:28] CptIceberg commented on #40
This is great thank you very much :pray:

[2022-06-24 15:20] cocoonkid opened #42 "[Suggestion] change move_focus_to_menu: h -> move_focus_to_topics"
[Suggestion]  change move_focus_to_menu: h   -> move_focus_to_topics

I'd also add

move_focus_to_tasks: l

That would be great! The current default is Return which is suboptimal for my case.

[2022-06-24 15:23] kraanzu commented on #42
Well you can change that in the config :)

[2022-06-24 15:25] cocoonkid commented on #42
just realized I can change

select_node: l

:)

the name change still stands hehe

[2022-06-24 15:26] kraanzu commented on #42
Yes, that needs renaming :)

[2022-06-24 17:33] moaojarco commented on #42
I'm using like this:
[code]
ctrl+i = Tab
So i just press **Tab** to move between windows

[2022-06-24 22:29] ReneFroger commented on #38
But it would be possible to read the pending tasks from Taskwarrior? It's all stored in plain text anyway, so I don't see any problem with it.

[2022-06-25 13:33] cocoonkid commented on #38
True. It might be possible to piggyback on taskd server integration?

That would be so cool :)

[2022-06-25 15:20] cocoonkid commented on #42
@moaojarco  great solution. Thanks for this!

[2022-06-25 15:20] #42 closed

[2022-06-26 02:23] kraanzu commented on #38
That is true, but as cocoonkid pointed out:

The two applications have very different approaches and it would only cause complications syncing the tasks.
I'll this close for now but, if in future, i changed my mind and decided to do it anyway, I'll re-open this thread :)

[2022-06-26 16:16] eruizc-dev opened #43 "💡 [FEAT] Version and help flags"
**Is your feature request related to a problem? 😢 Please describe.**

After installing with PIP I wanted to know which version I got, ran `dooit --version` and I got prompted into the UI. Went for `dooit --help` to see how to check version and got prompted into the UI again.

**Describe the solution you'd like**   🤔

It would be nice to have `-v|--version` and `-h|--help` flags, even if it display

[2022-06-26 22:20] DevFlock commented on #4
Yeah this seems to fix the loading issue. Just the icons don't seem to show but that is a font issue

[2022-06-26 23:30] eruizc-dev opened #44 "[BUG] Cannot type questionmark (`?`) in insert mode"
**Describe the bug** 🐛

Inserting a questionmark prompts the help menu, making it impossible to write it down

**To Reproduce** 🐣

Steps to reproduce the behavior:
1. Go to insert mode (i/a/A)
2. Type a questionmark `?`
3. Help menu pops up instead of writing a questionmark

**Desktop (please complete the following information):**  🤖
 - OS: Arch Linux x86_64
 - Version: 5.18.5-arch1-1

[2022-06-27 01:51] #44 closed

[2022-06-27 01:52] kraanzu commented on #4
Glad to hear that, You can always change the icons from the config menu to suit your font.
Anyways, I'll close this for now then :)

[2022-06-27 01:52] #4 closed

[2022-06-27 02:15] #43 closed

[2022-06-27 05:08] shetozz opened #45 "[BUG] Show warning if user starts another instance"
Tasks don't get saved if 2 windows are opened.

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Open 2 separate windows of Dooit and leave one of them on the welcome screen (sometimes it works even if you are not on the welcome screen).
1. Add a task to the other one.
1. Close the window that you add the task to first.

**Expected behavior**  🤔
the task now is not in the other window, when

[2022-06-27 07:14] BrodieRobertson opened #46 "[BUG] Select_node should also be bound to l"
**Describe the bug** 🐛
Considering that move_focus_to_menu is bound to h and vim like keybindings are listed as one of the features it only makes logical sense that l will move you to todos rather than just enter

**Expected behavior**  🤔
Pressing the l key moves you right towards the todos

[2022-06-27 09:02] kraanzu commented on #46
You can change that in the config file  :)

[2022-06-27 09:13] kraanzu commented on #45
I'm sorry but this will result in complications...
I saw that task-warrior has this functionality but dooit has nested todos/topics which will cause strange behaviour.
Also, Running two instances at a time seems like a very very rare situation.Therefore, I'll not be implementing this feature.

[2022-06-27 09:42] shetozz commented on #45
Running two instances is a rare thing but it's often by mistake, I had one opened on another workspace and I forgot about it, so if it's easy to have an indicator that tells you "there's an instance already opened" or something, that will fix the issue

[2022-06-27 11:32] kraanzu commented on #45
Well that is something i can do i guess... I'll look into it :)

[2022-06-27 11:56] #45 closed

[2022-06-27 17:51] TyBalduf opened #47 "[BUG] psutil is not included in dependencies"
**Describe the bug** 🐛
Installed on Linux with Python3.10 using instructions from README. Got the following error:
[code]

[2022-06-28 01:15] #47 closed

[2022-06-28 07:29] vaammpyy opened #48 "Remap jj to enable Normal mode"
How can I remap jj to switch from insert mode to normal mode.

[2022-06-28 07:35] kraanzu commented on #48
umm... you can't actually
Dooit, currently, only support one keybinding at a time i.e. pressing `jj` will behave as two `j` keys pressed

[2022-06-28 14:27] gilbh opened #49 "[BUG] "One instance of dooit is already running!" error"
Hi,
This happens when I am try to run `dooit.exe` from the command line. Here's what I am getting:
[code]

Steps to reproduce the behavior:
1. Open `cmd`
2. Type `dooit`
3. See error

 - OS: Windows
 - Version: 11

I ran the `pip install` from inside my envs (which is called `Utils`

Thanks!!

[2022-06-28 15:39] TyBalduf commented on #49
Seems like this commit introduced the error https://github.com/kraanzu/dooit/commit/e1d08b1b95183583cd5b05b7d8afb8391a65db15

[2022-06-28 15:42] TyBalduf opened #50 "[BUG] Nerd fonts dependency?"
**Describe the bug** 🐛
dooit functions properly from some terminals, but the symbols for file/calendar/time/etc are all just boxes. Depending on the terminal used, these symbols are sometimes converted to Chinese characters which results in graphical glitches that make the app unusable. I don't have [nerdfonts](https://www.nerdfonts.com/) installed, so I'm guessing this is an unlisted dependency b

[2022-06-28 16:44] kraanzu commented on #49
hey @gilbh, can you update and re-check if it's working now?

[2022-06-28 16:51] #50 closed

[2022-06-28 19:46] TyBalduf commented on #49
@kraanzu I still have the same issue after updating. I did some debugging and it looks like `PID = getpid()` is getting the PID for python.exe rather than dooit.exe.

I think a simple fix would just be to check if you come across multiple dooit/dooit.exe processes. As long as there is only one (i.e. the one currently executing), it can run. Any more than one means there is already a dooit instance

[2022-06-28 20:01] phylor opened #51 "💡 [FEAT] Configure storage location of `todo.yaml`"
**Is your feature request related to a problem? 😢 Please describe.**
I really like the simplicity of dooit and the vim-like keybindings! The problem with todos for me is that I need them synced across devices as I'm not always at the same computer.

**Describe the solution you'd like**   🤔
I imagine that I could set the location of the `todo.yaml` in the config file. That way, I could move the loc

[2022-06-28 20:16] phylor opened #52 "[BUG] Esc within tmux makes dooit unresponsive"
**Describe the bug** 🐛
Pressing `Esc` in input mode makes dooit unresponsive within tmux.

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Start `tmux`
2. Start `dooit` from within `tmux`
3. Go to insert mode, e.g. by adding a task
4. Press `Esc` to go back to normal mode

dooit is now unresponsive. Key presses don't have any effect anymore.

When running dooit without tmux, that behavior i

[2022-06-28 23:06] gilbh commented on #49
Thanks.

Is there a new build to re-install and check? (I am novice in github etc ...) ... I tried running the source but I get:
[code]

[2022-06-28 23:58] XxnittanixX opened #53 "A music player that also works on windows :) cli"
**Is your feature request related to a problem? 😢 Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**   🤔
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**  🧐
A clear and concise description of any alternative solutions or features you've consider

[2022-06-29 01:48] kraanzu commented on #53
What do you mean @XxnittanixX ?

[2022-06-29 01:57] kraanzu commented on #52
Hmm, that seems strange.
Running tmux with my custom configs does not seem to have any problem but It does have a slight lag with vanilla config. I'll do some digging and let you know :)

[2022-06-29 02:00] kraanzu commented on #49
Yes!

No you are not supposed to do that...It won't work that way
Just run this:

[code]

[2022-06-29 02:02] kraanzu commented on #51
Yes, I think it would be great.

[2022-06-29 02:07] kraanzu commented on #52
Hey @phylor, You need to add this in your tmux config:
[code]
Reference: [stack exchange](https://superuser.com/questions/252214/slight-delay-when-switching-modes-in-vim-using-tmux-or-screen/252717#252717)

[2022-06-29 02:07] #52 closed

[2022-06-29 04:59] phylor commented on #52
@kraanzu That works, thank you!

Should this be documented somewhere in dooit, as it has problems with the tmux default config?

vim has a similar issue, but doesn't get unresponsive - it just takes a bit of time to get from input mode to command mode.

[2022-06-29 05:52] kraanzu commented on #52
Yeah good idea. I'll update the README

[2022-06-29 12:50] gilbh commented on #49
Thank you!

I ran
[code]
-- and still got the same error. I then tried:
[code]
-- and still got the error.

Please advise, with thanks.

[2022-06-29 13:47] kraanzu commented on #49
This is strange... It  means that you have yet another `dooit.exe` running. Guess I'll add a time difference check too :)

[2022-06-29 13:52] TyBalduf commented on #49
@kraanzu I think he is having the same issue I describe. It's not that there are multiple dooit instances, it's that the PID you are comparing against is for python.exe not dooit.exe.

[2022-06-29 21:44] shetozz opened #54 "[BUG] Broken child topic behaviour"
If you make changes to the todo list or the topic list and then close the app short after, it doesn't work as expected, I'll give an example that is broken every time in the how-to reproduce section but it's not the only one.

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Create a main Topic and add todos to it
2. Create a child Topic and add todos to it
3. Close the app short after creat

[2022-06-30 02:17] kraanzu commented on #54
Seems like there's an issue while parsing. I'll push an update soon :)

[2022-06-30 03:14] #54 closed

[2022-06-30 03:29] kraanzu commented on #49
Hey @TyBalduf,

Hmm, that seems strange. Since we are comparing both name and the pid, It shouldn't be the case ig.

Idk how windows does this but when I made a seperate test file to run dooit i get this:

So the function should have returned `False`

[2022-06-30 03:32] kraanzu commented on #49
Hey @gilbh ,
Can you check what's the output of this code:

[code]

[2022-06-30 05:10] shetozz commented on #54
sorry for this noob question but I installed via pip and doing a pip upgrade for the package doesn't get me the update, is there something I'm doing wrong here?

[2022-06-30 07:01] kraanzu commented on #54
Yes, The updated version is only on github.. I haven't yet pushed it to pypi.
You can do this for now:

[code]

[2022-06-30 13:35] TyBalduf commented on #49
@kraanzu

[code]
If I add these print statements to `is_running`, here is a (truncated) version of my output.
[code]

So the if statement gets entered because it found `process.name()==dooit.exe`, but the initial PID its comparing against isn't for another instance of `dooit.exe`, but for `python.exe`, so naturally `process.pid != PID`.

I'm not sure how to ensure that `getpid` would give you the

[2022-06-30 23:10] LevitatingBusinessMan commented on #31
I am even experiencing this issue while closing `dooit` normally...

[2022-07-01 14:26] #53 closed

[2022-07-01 14:37] kraanzu commented on #49
Hey @gilbh , It should work as expected now :)

[2022-07-02 15:33] #48 closed

[2022-07-03 15:54] termunix opened #55 "ERROR: Package 'dooit-0.2.0' requires a different Python: 3.8.10 not in '>=3.10,<4.0'"
when i try to install it using pip3 install .
it says:
"ERROR: Package 'dooit-0.2.0' requires a different Python: 3.8.10 not in '>=3.10,<4.0'"
same thing when i use the one liner
i thought it was because of my python version so i checked
when i run python3.10 --version
it says i have 3.10.5
how do i fix this?
 - OS: [Linux mint]

[2022-07-03 16:12] kraanzu commented on #55
Try this:
[code]

[2022-07-05 08:39] LVPols opened #56 "[BUG] Tasks do not get saved"
**Describe the bug** 🐛
Tasks are not saved. When reopening dooit any previously inserted tasks are missing. The topics persist though.
Specifically, when I add a task and then look at ./local/share/dooit/todo.yaml, the file's modification time does get updated, but nothing seems to get written to the file.

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Open dooit
2. Add a task
3. Close do

[2022-07-05 10:10] termunix commented on #55
when i did it outputs this

Traceback (most recent call last):
  File "/usr/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/usr/lib/python3/dist-packages/pip/__main__.py", line 16, in <module>
    from pip._internal.cli.main import main as _mai

[2022-07-05 12:52] #56 closed

[2022-07-05 12:58] kraanzu commented on #55
I think you have both versions of python which is causing the issue...try removing the older version first :)

[2022-07-06 18:52] jacksongoode opened #57 "[BUG] Option-backspace (word delete) freezes dooit"
**Describe the bug** 🐛
Append task to topic and type name, then use option+delete to backspace word - dooit freezes.

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. Append task to topic and type name
2. Option+delete to backspace word
3. dooit freezes.

**Expected behavior**  🤔
Deletes previous

**Desktop (please complete the following information):**  🤖
 - OS: macOS
 - Version Latest

[2022-07-07 02:07] kraanzu commented on #57
Hey @jacksongoode,
I suppose `option` is same as `alt` key on linux/win?
If yes, then it's textual (the TUI framework)'s issue

Also, there are some key bindings issues the terminal (for e.g. `ctrl+backspace` gets mapped as `backspace` only)
See [this](https://unix.stackexchange.com/questions/563469/conflict-ctrl-i-with-tab-in-normal-mode/563480#563480) for more details
Currently you can use `ctrl

[2022-07-07 08:14] brizzz commented on #55
i have this error:

Traceback (most recent call last):
  File "/Users/brizzz/.pyenv/versions/3.10.4/lib/python3.10/site-packages/psutil/_psosx.py", line 343, in wrapper
    return fun(self, *args, **kwargs)
  File "/Users/brizzz/.pyenv/versions/3.10.4/lib/python3.10/site-packages/psutil/_psosx.py", line 401, in cmdline
    return cext.proc_cmdline(self.pid)
ProcessLookupError: [Errno 3] assume no

[2022-07-07 08:45] kraanzu commented on #55
Hey @brizzz , I've pushed an update... Maybe try again after updating?

[2022-07-07 10:35] brizzz commented on #55
@kraanzu thanks! After reinstall it works!

[2022-07-07 20:09] jacksongoode commented on #57
It looks like it was resolved [here](https://github.com/Textualize/textual/pull/539). Maybe you need to update the dependency?

[2022-07-09 13:53] ngmisl commented on #55
@kraanzu getting the same now, tried with pip3.9, pip3.10 and python3.8

ERROR: Package 'dooit' requires a different Python: 3.9.7 not in '<4.0,>=3.10'

[2022-07-09 22:57] RannyBergamotte opened #58 "💡 [more nesting, enter as escape]"
Currently working on a large project, where i wanted to be able to have more nesting within tasks.

Just allowing for more nesting of tasks and topics would be nice.

Also would be nice if enter key could also act with same functionality as escape key, as when finishing writing/editing a task, it feels natural and would make sense to complete writing with enter too and it feels natural. Also same

[2022-07-10 01:55] kraanzu commented on #58
Nesting can be done but It chose not to do it because:
- It would mess up the UI
- It caused a lot of complications while writing code

Yes, I was thinking the same
I'll push an update later to change that in the config file

The main idea behind `escape` to act more like vim \
 but I guess I should re-map `escape` to something like: Cancel the current todo edit?

[2022-07-15 05:42] BrookJeynes opened #60 "[BUG] Discord link in README is expired"
Describe the bug 🐛
The discord link provided in the README file is expired

To Reproduce 🐣
Steps to reproduce the behavior:
1. Go to https://github.com/kraanzu/dooit
2. Click on the "Discord" button
3. Redirected to a link expired page

Expected behavior  🤔
Redirects to the discord server

Screenshots 🧐
![image](https://user-images.githubusercontent.com/25432120/179158416-7bb461c9-cb20-4895-af5f-2

[2022-07-15 11:40] #60 closed

[2022-07-22 00:13] Itsnexn opened #64 "[BUG] config parser"
**Describe the bug** 🐛
the problem is when you get any exceptions on the parser you make new config which means you overwrite the existing config which means this will remove the old configurations

**To Reproduce** 🐣
Steps to reproduce the behavior:
1. just comment something I initially commented the banner and when I started the app it overwrote my config with the [example_config.yml](https://gi

[2022-07-22 00:16] Itsnexn opened #65 "💡 [FEAT] it would be nice to be able to change exit key binding :)"
**Feature request**
Currently, the exit keybindings are hard coded to `ctrl+q` it would be kind of nice to be able to change it in the config file. :)

[2022-07-22 03:24] kraanzu commented on #64
Sorry for the inconvenience. Will fix it soon :)

[2022-08-09 07:09] Arjun31415 opened #66 "💡 [FEAT] Time support in due date"
Option for choosing time along with due date.
Like - 13:00 10-10-2022

Would help in managing multiple due tasks  on the same day.

[2022-08-11 08:47] kraanzu commented on #66
Nice... Maybe I can a binding `t` just like we have `d` for changing date which will allow us to edit time in hh:mm format :)

[2022-08-11 10:56] Arjun31415 commented on #66
Is there also a way to show the overdue/late tasks in different colour/pane

[2022-08-11 12:01] kraanzu commented on #66
No, I'm afraid not.
But you can sort the tasks according to their urgency and the overdue/late tasks will be at the top :smile:

[2022-08-14 04:19] deven367 opened #67 "typo in the first few seconds on the intro video"
The introduction video on the `README.md` file has a typo. The video starts by typing `doit` and not `dooit`.

![image](https://user-images.githubusercontent.com/31466137/184522340-c82dd763-3480-42b3-9f96-d6ab3d983436.png)

[2022-08-14 05:12] Aquarius-17 commented on #1
can this be used in windows?
After i clone the depository ,i don't know what to do next,please help !

[2022-08-14 09:23] kraanzu commented on #67
Yeah actually the name was doit instead of dooit at first but I changed as doit was already taken by a popular software :)
I'll upload a new video soon

[2022-08-14 09:24] kraanzu commented on #1
Hi @Aquarius-17 ,
there are steps mentioned in the README
after cloning you need to go into the cloned directory and run:
[code]

This should install it for ya :)

[2022-08-14 15:43] deven367 opened #68 "constant flicker while using the app"
I installed the app on my system,
Python version: 3.10.4
Windows 10 and WSL (Ubuntu 20.04)
There is a constant flicker when I try to create a task. I'm not sure what is causing this issue.

https://user-images.githubusercontent.com/31466137/184544529-3807eb80-8063-4525-a4f9-3a781b6457ad.mp4

[2022-08-14 15:43] deven367 commented on #67
Thanks for getting back quickly! :)

[2022-08-14 16:26] kraanzu commented on #68
Yes actually windows `cmd` is not very good at handling these and might cause some issues.

Maybe try using some other terminal such as [alacritty](https://alacritty.org/) ? Or
I also see that you have linux shells open in other tabs... are they reproducing the same issues?

[2022-08-15 02:49] deven367 commented on #68
Yes, I have the issue on WSL as well.

[2022-08-15 06:09] Aquarius-17 commented on #1
Hey! @kraanzu ,thank you for your reply!!!  i do the command `pip install .` and it comes an exe called dooit.exe,I add the path of this exe to PATH so i can use the command`dooit` in cmd. But after i open the exe, i can see nothing but a black window,could you please help me ?

[2022-08-15 06:49] kraanzu commented on #1
Did it open in the terminal or as a separate standalone app?

[2022-08-15 06:51] kraanzu commented on #68
Hmm..
Then it's the terminal's issue. Maybe try some other terminal as I mentioned previously?

[2022-08-15 06:53] Aquarius-17 commented on #1
in the terminal，like this.
![QQ图片20220815145236](https://user-images.githubusercontent.com/88447561/184589610-40f8700c-1209-43e1-b289-05ac497a2986.png)

[2022-08-15 07:04] kraanzu commented on #1
Hmm... I have no idea why that is happening.
I'll have to do a bit of research.
Will let you know if I get a lead :)

[2022-08-15 08:24] Aquarius-17 commented on #1
thanks!!

[2022-08-16 04:37] Gwaenchanayo commented on #68
Experiencing the same issue on Linux with St. Does not occur in Alacritty.

[2022-08-16 05:09] kraanzu commented on #68
I can't even run dooit in St, It crashes immediately with:

[code]

So I tried [termtyper](https://github.com/kraanzu/termtyper) which is also based on [textual](https://github.com/Textualize/textual)
It ran fine for first few minutes but crashed eventually :(

[2022-08-16 05:26] Gwaenchanayo commented on #68
I'm using [Siduck's build](github.com/siduck/st). Possible it is 'working' for me because of some patch or dependency applied there.

The umlauts around the window seem to occur when resizing/at different window sizes.

![Example](https://user-images.githubusercontent.com/102994494/184803795-11056f74-9a0e-4f1d-99f4-65ba61b43263.png)

[2022-08-16 06:26] kraanzu commented on #68
I tried that but no luck :(

Tried in alacritty, kitty and xfce-term which all run perfectly without producing umlauts

[2022-08-16 08:14] Gwaenchanayo commented on #68
Yeah; as I said in the first comment - it happens in St but works fine Alacritty.

[2022-08-22 10:33] Abeautifulsnow opened #69 "💡 [FEAT] Add a ---v or --verbose cmd to control writing the detail infos to file.log"
**Is your feature request related to a problem? 😢 Please describe.**

Sometimes I'm frustrated when I click the `z` key to expand the parent item while it can't be expanded as expect although I try to re-click `z` many times. I don't know if this is a problem caused by terminal or os system and or app's itself.

**Describe the solution you'd like**   🤔

Perhaps we could add a directive to control

[2022-08-23 02:25] kraanzu commented on #69
Does the click have no effect?

Like all the actions? including expands, adding a todo, increasing urgency, changing dates, etc.

[2022-08-24 03:44] Abeautifulsnow commented on #69
Emmm, let me describe my operation procedure.

- I launch `dooit` on my terminal.
- Enter the application, I select one of items in the left-panel by keyup/keydown event(not click event), and then the corresponding task details appear in the right-panel. And I double-click on the right panel, the mode of app is changed to `INSERT` now. See screenshot below:
![image](https://user-images.githubuserc

[2022-08-24 07:20] kraanzu commented on #69
Ah, I see. Thanks for the detailed explanation. Will push a fix right away :)

Thanks bud ;)

[2022-08-24 07:33] kraanzu commented on #69
Although I can fix this easily for now... I'm afraid that the usage of mouse will break the app in some way or another. So maybe I should consider stripping away the mouse support for good? What are your thoughts on this?

[2022-09-01 14:32] Weissle commented on #68
Python 3.10.4
OS: windows10 WSL2 ubuntu18.04.
This problem exists both in alacritty and windows terminal.

[2022-09-01 14:56] kraanzu commented on #68
Hi @Weissle,

I am using alacritty ( OS: Arch Linux) and I am not facing any such issues.
Is there a specific condition that makes the app flicker or is it just random?

[2022-09-01 15:25] Weissle commented on #68
It happens when I begin typing like adding a new project or a task.
Do you use any TUI framework? maybe it is a TUI problem.

[2022-09-01 15:54] kraanzu commented on #68
Yes, I am using [textual](https://github.com/Textualize/textual)

Maybe, but for some people the app is running just fine which makes this odd. Have you tried other terminals? Does that result in similar behavior?

Well, It has to refresh that time in order to take changes... Does it flicker when you expand/de-expand the tree structure?

[2022-09-01 16:08] kraanzu commented on #68
Hey @Weissle,

Try this script and see if it flickers ( You can tune the `RATE` variable and see if that makes any difference )
[code]

I tried increasing the rate and constantly changing the terminal(alacritty)'s size but was not able to reproduce any kind of flicker :)

[2022-09-02 00:51] Weissle commented on #68
I run this script and it works fine as well as when `RATE = 600`.

[2022-09-02 01:37] kraanzu commented on #68
Guess I oversimplified this a bit too much lol

What about the other terminals? Does that reproduce the same behavior?

[2022-09-02 07:51] Weissle commented on #68
Yes. It flickers on windows terminal, cmd, and alacritty.

[2022-09-02 08:15] kraanzu commented on #68
My bad. I thought you were using Ubuntu itself and not WSL.
That's more like a windows issue, terminals don't generally play well in the case of windows.
I think textual is working to solve the issues on a separate branch but we'll just have to wait for now :(

Yes, that is definitely the case. The `selfj`s gets highlighted in the video simultaneously, which can only mean one thing.
Guess we'll ju

[2022-09-02 08:16] Weissle commented on #68
Sure. Thank you for your response.

[2022-09-11 08:05] TOMES-TT opened #70 "💡 [FEAT] Support for for nesting of TODOs"
**Is your feature request related to a problem? 😢 Please describe.**
For my use case, I find that having only one layer of nesting for child todos is very limiting (ie, I often need to do tasks 1, 2, and 3 in order to accomplish task A, which itself is one of multiple tasks required to complete todo foo)

**Describe the solution you'd like**   🤔
I would like `A` to create a child under any todo, i

[2022-09-11 08:28] kraanzu commented on #70
Hey @TOMES-TT ,

I had a discussion on this before [here](https://github.com/kraanzu/dooit/issues/58#issuecomment-1179636554)

The point about code complications seems vague now.
 It was just bad design decisions that I plan to work on soon.

However, the first point still remains valid
I tried nesting too much which made the date column something like this:

The upper/parent tasks' date rendered

[2022-09-12 01:01] TOMES-TT commented on #70
Hi,

Thanks for the response! My mistake for not realizing there was already discussion on this topic, I thought I had checked everywhere but I'm still pretty new to github so I must have missed it. I think that would be a good solution.

[2022-09-12 02:20] kraanzu commented on #70
No problemo!

I'm a bit busy with my work and am not getting too much time for github stuff, so might be a while :disappointed: .
I'll keep this thread open and will update once implemented

[2022-09-12 04:29] TOMES-TT commented on #70
Yeah, no worries; obviously I'm just requesting stuff from you, so I have no expectations about it :)
Something that just occurred to me; due dates could be made optional, which would let the todo column stretch out to basically fill the entire terminal window

[2022-09-12 06:47] kraanzu commented on #70
Yes, I did mention that:

[2022-09-12 06:50] kraanzu commented on #70
I am also thinking to make the Workspace or the left section toggleable (with animation).
The current code wouldn't allow that but I'll implement it soon.

[2022-09-28 15:33] ehawman opened #71 "💡 [FEAT] Parse human-readable due dates"
**Is your feature request related to a problem? 😢 Please describe.**
dd-mm-yyyy is understandable, but somewhat clunky. It also requires that you look up or calculate dates yourself ("What is next Friday's date again?")

**Describe the solution you'd like**   🤔
[Implement the dateparser library.](https://dateparser.readthedocs.io/en/latest/) It parses human-readable date strings into python dateti

[2022-09-29 02:03] kraanzu commented on #71
Hi @ehawman,
This looks super awesome! Thanks for sharing it!
I'll create a new release soon. Will add it to that <3

[2022-10-05 16:06] kraanzu commented on #38
Hey @Saterlite and @ReneFroger,

That is true, but the current implementation was unsuitable for this change.
I am working on a new release that will introduce a bunch of new features :smiley: and would make the implementation much much better

And I have this idea in mind for now:
There will be a plugin system with let's say two functions namely
- entry code
- exit code

The entry code will parse

[2022-10-13 09:53] fiftyfathoms opened #72 "💡 [FEAT] [BUG] Alt+F, Alt+B and Alt+D shortcut for moving cursor and deleting"
**Describe the bug** 🐛
Alt+F and Alt+B keyboard shortcuts are typically used in most terminal environments to move forward and backward one word at a time.  This works in bash and vim (insert mode) for example. Using these shortcuts in the insert mode of dooit causes the programme to crash and the terminal becoming non-responsive.

The same can be said for Alt+W and Alt+D. Alt+W in dooit delivers

[2022-10-13 15:29] kraanzu commented on #72
Hmm... In my case dooit hangs with any key combination involving `Alt` key.
But actually, the issue is not related to dooit but the TUI framework that it relies on which is textual.
There will be a new release of textual on the 24th of October. Let's hope that fixes this issue :)

I'll keep this issue open for now and try investigating more on this :smile:
I'll push a new release soon too which wi

[2022-10-14 09:22] fiftyfathoms commented on #72
Thanks for the quick reply and the effort you put into maintaining and developing this amazing tool. I keep fingers crossed for the issue to be fixed by then.
Do you recommend make a bug fix request at textual? Because I couldn't find any open or closed issue regarding this problem.

[2022-10-14 12:25] kraanzu commented on #72
Yeah, you sure can!
If you want any kind of help I'll be happy to be of assistance 😄

[2022-10-26 08:52] FelixKratz opened #74 "💡 [FEAT] Approximate Task Duration"
I really like this tool, it makes planning todos so much more fun. Thank you for creating it!
One thing that I would really enjoy is to have an approximate task duration field where I could enter how long I think the task will take to accomplish. E.g. if I look for a task that takes ~1h I could find them more quickly and work on them when I have a time constraint.

A next step for such feature cou

[2022-10-26 10:19] kraanzu commented on #74
I guess you mean a task timer something similar to taskwarrior.
I'll explain the workflow and you can give me feedback for this:
- You  go to the task and let's say press `s` for `start`
- You are prompted to enter a duration for e.g. `50s` or `50m`  or `50h`
- A timer starts and notifies you when the time is up ( If the task is not done by then else just stops)
If not done, It can maybe add some

[2022-10-26 10:30] FelixKratz commented on #74
What you describe is different from what I had in mind, but it sure is nice too.

What I thought was an "Approximate Duration" field for a task that can be filled at any time and is displayed next to the due date (or anywhere else). I find myself creating tasks for which I know approximately how long they will take when I create them.

E.g.:
* I create an item: Refactor Code
* I fill the estimate

[2022-10-26 10:48] kraanzu commented on #74
Ah, I see now. That surely will be nice! We can attach more functionalities later on but for now the basic idea of `estimated duration` will be easy to implement.

I'm planning on adding a config option so that the user can determine the UI.
To be specific: How the rows will be rendered (both the size and position)
For e.g. if somebody does not need an `urgency` column but the `estimated duration`

[2022-10-26 12:03] FelixKratz commented on #74
Making this configurable sounds great! Thank you for your work on this project.

[2022-10-26 12:54] kraanzu commented on #74
Awesome then!

[2022-11-08 16:34] grandchild commented on #2
That and the type hints:
 * `List[Dict[Tuple[...]]]` instead of `list[dict[tuple[...]]]`)
 * `Optional[str]` and `Union[str|int]` instead of `str | None` and `str | int` respectively

But awesome of you to restart supporting 3.8! ❤️

[2022-11-08 16:37] grandchild commented on #2
Have a look at https://github.com/grandchild/dooit/commit/5bf81ad4e27898356b67fc2942a9c7054f665aa0 for the changes wrt your `main` (I understand you're working on a redesign, but maybe you can copy-paste one or two hunks from my patch. 🙂

[2022-11-08 16:50] kraanzu commented on #2
Indeed. That's a lot of changes you did there!
I'm also changing the config file and stuff so things might be a bit different, but yeah, thanks for the work!
I really appreciate it! 😄

[2022-11-18 03:26] atidyshirt opened #76 "💡 [FEAT] Ability to yank and paste entire todo's"
**Is your feature request related to a problem? 😢 Please describe.**

I would like the ability to copy and paste entire todo's between topics, and have the ability to copy multiple todo's.

**Describe the solution you'd like**   🤔

I would like to have a solution that does the following:

1. `Y` to yank entire todo's
2. `Y` if triggered on a parent todo, should copy all child todo's to the clipboa

[2022-11-18 07:11] kraanzu commented on #76
Hi @atidyshirt! Thanks for the feature idea!

I was actually wondering how to make such a feature to move the todos within the app! This sounds good and can be a great implementation!

Thanks, bud! I really appreciate it :smile:

Of course, I am also willing to help if you need any :smile:
I saw that you forked the project a couple of hours ago. Just wanted you to know that you should ignore the m

[2022-11-18 07:14] atidyshirt commented on #76
Hi @kraanzu, Oh I have been working on this using the main branch, thanks for letting me know :)

I will switch branches and take a look at how to bring my implementation across. (I have never used rich or TUI interfaces in python before, but starting to understand the code now).

Hopefully I will be back with a PR soon

[2022-11-18 07:26] kraanzu commented on #76
Awesoome! Good luck :)

Here's the documention for textual if you need any help:
https://textual.textualize.io/

[2022-11-18 11:37] kraanzu commented on #76
Haha...thought so! But I there aren't many now :(
Ummm... If you can maybe wait for one more day? I guess I'll finish it up ( there will be bugs surely but I'll try to solve most of them by sunday? )

this is the test file I use which should run the app:
[code]

Can I ask what Kind of issues are you facing? Have you upgraded textual's version?

[2022-11-18 11:41] atidyshirt commented on #76
I think I may have introduced one, not sure. I have experienced occasional freezing and sometimes `TODO`'s get removed if we do things too quickly (I think some async issue).

Do not feel pressured at all, that was not my intention 😄 ,  just curios if there was any known issues.

Might also be note worthy that I am currently on a ARM Macbook

[2022-11-18 12:46] atidyshirt commented on #76
Thats all I have in me tonight! Couple of notes on this:

If you can think of a better method to handle the clipboard management then the implemented method, I am all ears (i.e the following):

[code]

There is still a couple of things to fix in here, will submit a PR when this is ready

[2022-11-18 15:03] kraanzu commented on #76
Awesome! This looks good. Thanks for the PR

Yep Yep. I'll work on it too and hopefully remove some bugs along the way :)

[2022-11-18 15:19] kyeboard opened #77 "💡 [FEAT] Building website for dooit"
**Is your feature request related to a problem? Please describe.**
Maybe (hadn't checked other issues)

**Describe the solution you'd like**   🤔
Build an blazingly beautiful website for dooit. It is gonna be mostly containing the home page showing up all the awesome features, installation (not really anything in installation, what's hard in adding, aye?), marketplace that is gonna contain a bunch

[2022-11-18 15:21] kraanzu commented on #77
Aight!

[2022-11-18 16:48] kraanzu commented on #76
Done!

Fixed!

I've implemented lazy load. Can you check if it's still freezing for ya?

[2022-11-19 10:36] atidyshirt commented on #76
I will retest tomorrow and see if what problems are present, pasting todos is now functional, 'P' go paste as child, 'p' to paste as sibling, and todo's are copied using the 'remove' method ('x') (removed and copied node to the clipboard).

I have a couple of questions about copying todo's, I have noticed that we cannot have two todos with the same description at the same level? So as far as imple

[2022-11-19 11:04] kraanzu commented on #76
Yes, that is correct! That makes some implementation stuff easier (when the todos are changed in some other instance or changed through some plugins)
The only case I see where you need the same todo description is to do some recurring tasks such as:

- Solve a problem every day
- Get a haircut every 6 weeks

For that, I've implemented recurring tasks which when marked as completed just shift their